{% extends "layout.html" %}
{% block body %}
  {% if session.logged_in %}
    <form action="{{ url_for('add_meal') }}" method="post" class="add-meal">
      <ul>
        <li class="label">English name:<input type="text" size="30" name="english-name">
        <li class="label">Chinese name:<input type="text" size="30" name="chinese-name">
        <li class="label">Price (USD):<input type="text" size="30" name="price">
        <li class="label">Image URL:<input type="text" size="30" name="image-url">
        <li class="label"><input type="submit" value="Update or Add Meal">
      </ul>
    </form>
	<ul class="meals">
    {% for meal in meals %}
      <li><h2>{{ meal.english_name }}</h2>
		Chinese Name: {{ meal.chinese_name }}<br>
		Price: ${{ meal.price|safe }}<br>
		<img src="{{ meal.image_url }}"/>
    {% else %}
      <li><em>You have not added any meals yet.</em>
    {% endfor %}
    </ul>
	{% endif %}
{% endblock %}
