<!doctype html>
<html>
    <head>    
        <title>Restoran</title>
        <link href='https://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>
		<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='index.css') }}">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js"></script>
        <script src="https://unpkg.com/masonry-layout@4.0/dist/masonry.pkgd.min.js"></script>
    </head>    
    <body>
        <div id="navbar">
            <ul>
                <li>
                    <a id="contact-link" href="Contact">
                        Contact
                    </a>
                </li>
                <li id="checkout-li">
                    <a href="checkout">
                        Checkout
                    </a>
                </li>
            </ul>
        </div>
        <div class="grid">
		  {% for meal in meals %}
            <div class="wrapper">
                <div class="card radius shadowDepth1">
                    <div class="card__image border-tlr-radius">
                        <img src="{{ meal.image_url }}" alt="image" class="border-tlr-radius">
                    </div>
                    <div class="circle">
                        <a id="share" class="shop icon" href="#"></a>
                    </div>

                    <article class="article">
                      <h2><a href="#">{{ meal.english_name }}<br>{% if meal.chinese_name %} {{ meal.chinese_name }} | {% endif %}${{ meal.price }}</a></h2>		 
                    </article>
                </div>
            </div>
			{% endfor %}
        </div>

		<script type="text/javascript">
		  $('.grid').masonry({
		      // options
		      itemSelector: '.wrapper',
		      columnWidth: 300,
		      gutter: 90,
		      fitWidth: true
		  });
		</script>

    </body>
</html>
